@model GuestBookSystem.Models.Guestbook
@Styles.Render("~/Content/StyleSheet1.css")
@{
    ViewBag.Title = "审核界面";
}
<ul class="nav nav-tabs">
    <li role="presentation">@Html.ActionLink("返回主页", "Index")</li>
    <li role="presentation">@Html.ActionLink("注销登录", "Logout")</li>

</ul>

<div class="Nav">

    <div class="jumbotron text-center">
        @if (Model.isPass == false)
        {
            <h2 style="text-align:center"><span class="label label-primary">确认是否通过审核？</span></h2>
            <p>留言人邮箱：@Model.User.Email</p>
            <p>内容：@Model.Content</p>
            <p>时间：@Model.CreatedOn</p>

            using (Html.BeginForm())
            {
                <input class="btn btn-success" type="submit" value="通过" />
            }
        }
        else
        {
            <p>该条留言已经通过审核</p>
            @Html.ActionLink("返回上一页", "CheckMessage")

        }
    </div>
</div>